/* Your code here */

.main {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.card-1 {
  --cocoa-brown: #D96A21ff;
--indigo-dye: #1E3F62ff;
--sandy-brown: #F8AD5Dff;
--jasmine: #FCE791ff;
--smoky-black: #17140Dff;
  color: var(--cocoa-brown); /* #DEB64B; */
  text-align:center;
  font-size: 26px;
  background-color: var(--indigo-dye);
  border-style: solid;
  border-width: 4px;
  border-color:grey;
  font-family: poppins; 
  /*border-bottom-color:yellow;
  border-right-color:blueviolet;
  border-left-color:aqua;*/
}

.josh {
  color: #DEB64B;
  background-color: white;
border-radius: 350px;
}

.thousand {
  font-size: 8px;
  display: inline-block;
  background-color: white;
  color:black;
  padding: 3px;
}
.sale {
  font-size: 19px;
  margin-top: 10px;
} 
.call {
  font-size: 20px;
  margin-top:15px;
}
.gaka{
  width:65px;
}

.aditya {
  width: 105px;
margin-left:5px;
margin-top:5px;
}

.card-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: burlywood;
    font-family: sans-serif;
}

.bottom {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    border: 2px solid white;
    background-color: burlywood;
    padding: 10px;
    }

.top {
  text-align: center;
  font-size: 32px;
}
    

.middle {
  text-align:center;
}
